@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply inline-block bg-primary text-white font-semibold rounded-lg hover:bg-secondary duration-200 shadow-[0px_10px_8px_-7px_#F7F7F8]
  hover:shadow-[0px_10px_8px_-7px_#F7F7F8] py-2 px-6;
  }
}

@layer utilities{
  .drop-shadow{
    filter: drop-shadow(3px 4px 2px rgba(225,225,225,225));
  }
}

@layer utilities {
  @keyframes up-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-up-down {
    animation: up-down 5s infinite;
  }
}